@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  }

  #root {
    min-height: 100vh;
  }
}
